<h6>Dashboard</h6>
<h3>Bem vindo, {{name}}</h3>
<p>Aqui est찾o suas lindas hist처rias:</p>
{{#if stories}}
    <table class="striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Date</th>
                <th>Status</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            {{#each stories}}
                <tr>
                    <td><a href="/stories/{{_id}}">{{title}}</a></td>
                    <td>{{formatDate createdAt 'DD MMMM YYYY, h:mm:ss a'}}</td>
                    <td><span class="dash-status">{{status}}</span></td>
                    <td></td>
                </tr>
            {{/each}}
        </tbody>
    </table>
{{else}}
    <p>Ainda n찾o registramos suas hist처rias, crie uma!</p>
{{/if}}